<!DOCTYPE html>
<html lang="en">

  <head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(101162222);</script>
<script async src="//static.getclicky.com/js"></script>

    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Afrizal Muhammad Yasin</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/2.png')}} " />
    <!-- Bootstrap core CSS  {{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}-->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css')}} " rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="{{ url_for('static', filename='vendor/magnific-popup/magnific-popup.css')}}" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/freelancer.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/aku.css')}}" rel="stylesheet">
  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Afrizal</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#skill">Skill</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#hobby">Knowledge</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Portfolio</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contact</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#">Blog</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead bg-primary text-white text-center">
      <div class="container">
        <img class="img-fluid mb-5 d-block mx-auto rounded-circle" style="height:230px;width:170px" src="https://siortu.upnjatim.ac.id/fotomhs/A79EA73483FE233893ED3E0E982ADD81CE323353B19ACA26C11708CAF6DE8D8E.jpg" alt="My Photo Guys">
        <h1 class="text-uppercase mb-0">Afrizal Muhammad Yasin</h1>
        <hr class="star-light">
        <h2 class="font-weight-light mb-0">Web Developer - Junior Networking - Linux & Cloud Enthusiast</h2>
      </div>
    </header>

    <!-- About Section -->
    <section class="text-black mb-0" id="about">
      <div class="container">
        <h2 class="text-center text-uppercase text-black">About</h2>
        <hr class="star-dark mb-5">
        <div class="row">
          <div class="col-lg-4 ml-auto">
            <p class="lead text-uppercase text-black"><h3>Description</h3></p>
            <p class="">hello, I'm Afrizal. I am a web developer who focuses on the backend, for example: PHP, REST API. And I'm also a fan of Linux distro distributions that are open source. Besides that I also like things related to computer networks, such as: Cloud, networking, VM. I come from the city of Surabaya, East Java Province, Indonesia.</p>
          </div>
          <div class="col-lg-4 mr-auto">
              <p class="lead text-uppercase text-black"><h3>Education</h3></p>
            <p class="">Public Elementary School<span><br>SDN Babat Jerawat 1, Surabaya, EastJava, Indonesia<br>2005-2011</span></p>
            <p class="">Public Junior High School<span><br>SMPN 14, Surabaya, EastJava, Indonesia<br>2011-2014</span></p>
            <p class="">Vocational High School<span><br>Majoring in computer and network engineering<br>SMK Antartika, Surabaya, EastJava, Indonesia<br>2014-2017</span></p>
            <p class="">Undergraduate Programs<span><br>Universitas Pembangunan Nasional "<i>Veteran</i>" Jawa Timur, Surabaya, EastJava, Indonesia<br>2017-Current</span></p>
          </div>
        </div>
      </div>
    </section>

    <!-- Skill Section -->
    <section id="skill" class="bg-light-gray">
    	<div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>My Skill</h2>
                        <hr class="star-grey">
                    </div>
                </div>
    	    <div class="row">
    	        <div class="col-md-3">
    	            <div class="progress php">
    	                <span class="progress-left">
    	                    <span class="progress-bar"></span>
    	                </span>
    	                <span class="progress-right">
    	                    <span class="progress-bar"></span>
    	                </span>
    	                <div class="progress-value">65%</div>
    	            </div>
    	            <h4 class="skill-subtitles">PHP</h4>
    	        </div>
    	        <div class="col-md-3">
    	            <div class="progress python">
    	                <span class="progress-left">
    	                    <span class="progress-bar"></span>
    	                </span>
    	                <span class="progress-right">
    	                    <span class="progress-bar"></span>
    	                </span>
    	                <div class="progress-value">30%</div>
    	            </div>
    	            <h4 class="skill-subtitles">Python</h4>
    	        </div>
    	        <div class="col-md-3">
    	            <div class="progress network">
    	                <span class="progress-left">
    	                    <span class="progress-bar"></span>
    	                </span>
    	                <span class="progress-right">
    	                    <span class="progress-bar"></span>
    	                </span>
    	                <div class="progress-value">40%</div>
    	            </div>
    	            <h4 class="skill-subtitles">Network Administrator</h4>
    	        </div>
    	        <div class="col-md-3">
    	            <div class="progress graphic">
    	                <span class="progress-left">
    	                    <span class="progress-bar"></span>
    	                </span>
    	                <span class="progress-right">
    	                    <span class="progress-bar"></span>
    	                </span>
    	                <div class="progress-value">35%</div>
    	            </div>
    	            <h4 class="skill-subtitles">Graphic Design</h4>
    	        </div>
    	    </div>
    	</div>
</section>

    <!-- Skill Section -->
    <section id="hobby">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>I Know, I do, I like</h2>
            <hr class="star-primary">
        </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
          <div class="fas fa-network-wired text-center w-100" style="font-size:60px;"></div>
        <div class="hobby-item">
          <h4>Junior Networking</h4>
          <p>I have known computer networks since elementary school. Where in the past I studied computer networks in an internet cafe, and I accidentally logged in the network, a little nosy changing the network configuration. That's where I began to deepen computer network science</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="fab fa-soundcloud text-center w-100" style="font-size:60px;"></div>
        <div class="hobby-item">

          <h4>Cloud</h4>
          <p>I have known the cloud since I started vocational high school. Outside of school hours I sometimes learn about cloud technology whether it's about deployment, web server, and more. And in the future I will deepen about the cloud, for example the API obtained from the cloud for the face recognition process, I implement it through the web and mobile.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
          <div class="fas fa-server text-center w-100" style="font-size:60px;"></div>
        <div class="hobby-item">
          <h4>Backend Developer</h4>
          <p>I learned and deepened about backend developers since vocational high school. outside of school time I learned about backend, I used to learn to use the PHP programming language. In PHP I deepened about OOP, PDO after that I used a framework like Laravel, CodeIgniter. in this college I will learn about docker containers.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
          <div class="fab fa-linux text-center w-100" style="font-size:60px;"></div>
        <div class="hobby-item">
          <h4>Linux Enthusiast</h4>
          <p>I am a big fan of the Linux operating system. Because of what? because Linux is open source and runs on any device. My laptop uses the Ubuntu distro that I use to work on projects. Because this OS is easier to use and I like it more than others.</p>
        </div>
      </div>
    </div>
  </div>
</section>

    <!-- Portfolio Grid Section -->
    <section class="bg-primary portfolio" id="portfolio">
      <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Project</h2>
        <hr class="star-light mb-5">
        <h4 class="text-center"><i>Still working on editing</i><br>to know more about visiting my other website<br><a href="https://afrizal-my.xyz" class="text-white">click here!</a><br>and see my home project on<br>
          <a href="https://github.com/afrizal423" class="text-white">GitHub</a> | <a href="https://gitlab.com/afrizal-my" class="text-white">GitLab</a>
          <br>Or<br><a target="_blank" href="https://www.linkedin.com/in/afrizal-muhammad-yasin-175919166/" class="text-white">See My Linkedin</a></h4>
        <!--
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-1">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fas fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/cabin.png" alt="">
            </a>
          </div>
          <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-2">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fas fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/cake.png" alt="">
            </a>
          </div>
          <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-3">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fas fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/circus.png" alt="">
            </a>
          </div>
          <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-4">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fas fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/game.png" alt="">
            </a>
          </div>
          <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-5">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fas fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/safe.png" alt="">
            </a>
          </div>
          <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-6">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fas fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/submarine.png" alt="">
            </a>
          </div>
        </div> -->
      </div>
    </section>


   

    <!-- Main Section --
    <section class="main-section">
       <!-- Add Your Content Inside --

       <!-- /.content --
    </section>
    <!-- /.main-section -->

    <!-- Footer -->
    <footer class="footer text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Location</h4>
            <p class="lead mb-0">Pondok benowo indah, Surabaya
              <br>east java, Indonesia 60197</p>
          </div>
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Find Me On</h4>
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://www.facebook.com/rizal.htmI">
                  <i class="fab fa-fw fa-facebook-f"></i>
                </a>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://twitter.com/afrizalpatlas">
                  <i class="fab fa-fw fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://www.linkedin.com/in/afrizal-muhammad-yasin-175919166/">
                  <i class="fab fa-fw fa-linkedin-in"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://www.instagram.com/afrizal.my/">
                  <i class="fab fa-fw fa-instagram"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4" id="contact">
            <h4 class="text-uppercase mb-4">Contact</h4>
            <!--
            <p class="lead mb-0">“<i>Technology makes things faster and more cost-effective, but it’s not perfect. It requires you to be as flexible as you can be.</i>” — John Phillips
            -->
             <div class="fas fa-phone text-center w-100" style="font-size:15pt;"> +6283857964300</div>
             <div class="fas fa-envelope-open-text text-center w-100" style="font-size:15pt;"> <a href="mailto:afrizal2499@gmail.com?Subject=Hello%20again" target="_top">afrizal2499@gmail.com</a></div>
             <div class="fas fa-envelope-open-text text-center w-100" style="font-size:15pt;"> <a href="mailto:afrizal@afrizal.web.id?Subject=Hello%20again" target="_top">afrizal@afrizal.web.id</a></div>
          </div>
        </div>
      </div>
    </footer>

    <div class="copyright py-4 text-center text-white">
      <div class="container">
        <small>Copyright &copy; <script type="text/javascript">
                            document.write(new Date().getFullYear());
                        </script> Afrizal Muhammad Yasin | Flask version {{versi.flask}} | Python version {{versi.python}}  | Page rendered in {{ g.request_time() }}</small>
      </div>
    </div>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
      <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>

    <!-- Portfolio Modals -->

    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal mfp-hide" id="portfolio-modal-1">
      <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
          <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 class="text-secondary text-uppercase mb-0">Project Name</h2>
              <hr class="star-dark mb-5">
              <img class="img-fluid mb-5" src="img/portfolio/cabin.png" alt="">
              <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
              <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                <i class="fa fa-close"></i>
                Close Project</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal mfp-hide" id="portfolio-modal-2">
      <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
          <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 class="text-secondary text-uppercase mb-0">Project Name</h2>
              <hr class="star-dark mb-5">
              <img class="img-fluid mb-5" src="img/portfolio/cake.png" alt="">
              <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
              <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                <i class="fa fa-close"></i>
                Close Project</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal mfp-hide" id="portfolio-modal-3">
      <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
          <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 class="text-secondary text-uppercase mb-0">Project Name</h2>
              <hr class="star-dark mb-5">
              <img class="img-fluid mb-5" src="img/portfolio/circus.png" alt="">
              <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
              <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                <i class="fa fa-close"></i>
                Close Project</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Portfolio Modal 4 -->
    <div class="portfolio-modal mfp-hide" id="portfolio-modal-4">
      <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
          <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 class="text-secondary text-uppercase mb-0">Project Name</h2>
              <hr class="star-dark mb-5">
              <img class="img-fluid mb-5" src="img/portfolio/game.png" alt="">
              <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
              <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                <i class="fa fa-close"></i>
                Close Project</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Portfolio Modal 5 -->
    <div class="portfolio-modal mfp-hide" id="portfolio-modal-5">
      <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
          <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 class="text-secondary text-uppercase mb-0">Project Name</h2>
              <hr class="star-dark mb-5">
              <img class="img-fluid mb-5" src="img/portfolio/safe.png" alt="">
              <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
              <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                <i class="fa fa-close"></i>
                Close Project</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Portfolio Modal 6 -->
    <div class="portfolio-modal mfp-hide" id="portfolio-modal-6">
      <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
          <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 class="text-secondary text-uppercase mb-0">Project Name</h2>
              <hr class="star-dark mb-5">
              <img class="img-fluid mb-5" src="img/portfolio/submarine.png" alt="">
              <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
              <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                <i class="fa fa-close"></i>
                Close Project</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/magnific-popup/jquery.magnific-popup.min.js')}}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ url_for('static', filename='js/jqBootstrapValidation.js')}}"></script>
    <script src="{{ url_for('static', filename='js/contact_me.js')}}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ url_for('static', filename='js/freelancer.min.js')}}"></script>

  </body>

</html>